@font-face {
    font-family: "Oswald";
    src: url(image/fonts/static/Oswald-Light.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(image/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.header{ /* Selects all elements with class="header"*/
    min-height: 220px;
    min-width: 1170px;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav { /* select all <nav> element */
    display: flex; /*Displays an element as a block-level flex container*/
    padding: 1% 1% 2% 1% ; /*the space between its content and its border. %: Specifies the padding in percent of the width of the containing element */
    /* top and bottom: 2%; right and left:6% */
    justify-content: space-between; /*Items will have space between them*/
    align-items: center; /*Items are positioned at the center of the container*/
}
nav img{ /*Select and style every <img> element that is inside <nav> elements:*/
    width: 45px;
}
.nav-links{
    flex:1; /*sets the flexible length on flexible items.*/
    text-align: right; /*Aligns the text to the right*/
}
.nav-links ul li{
    list-style: none;
    display: inline-block; /*Displays an element as an inline-level block container.*/
    padding: 8px 12px;
    position: relative; /*The element is positioned relative to its normal position*/
}
.nav-links ul li a{
    color: rgba(31,31,31,1);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
/*Insert something after the content of each <ul> <li> element*/
.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgba(31,31,31,1);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*	Selects links on mouse over*/
.nav-links ul li :hover::after{
    width: 100%;
}
.text-box{
    display: flex;
    align-items: center;
    font-size: 43px;
    width: 300px;
    color: #1f1f1f;
    text-align: center;
    padding: 0px 40px;
    margin: auto;
    border-bottom: 10px solid #424242;
}

/*Tổng thể phần nội dung*/
.list{
    color: #1f1f1f;
    min-width: 1170px;
    background-color: #ffffff;
    position:absolute;
}

.row1 p{
    margin: 2% 10%;
    font-size: 23px;
}

.row2 img{
    width: 832Px;
    height: 805px;
    align-items: center;
    display: flex;
    margin: auto;
}

/*Bảng*/
.list .hdt{
    padding-top: 50px;
    margin: auto;
    text-align: center;
}
.tablehc{
    display: flex;
    justify-content: space-evenly;
    margin: 0% 8%;
    font-size: 20px;
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
}
td, th{
    width: 120px;
}
th{
    height: 40px;
}

/*Biểu đồ 1*/
.list .hdc{
    font-size: 50px;
    margin: 3% 10% 2% 10%;
    border-bottom: 3px solid #1f1f1f;
}
.headerrow3{
    padding: 5px 0px 10px 0px;
    text-align: center;
    font-size: 35px;
}
.row3{
    margin: 3% 10% 2% 10%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    margin: 0% 8%;
    font-size: 20px;
}
.row3 .col1 table{
    font-size: 25px;
}


/*Biểu đồ 2*/
.list .hdc2{
    font-size: 50px;
    margin: 3% 10% 2% 10%;
    border-bottom: 3px solid #1f1f1f;
}
.headerrow4{
    padding: 5px 0px 10px 0px;
    text-align: center;
    font-size: 35px;
}
.row4{
    margin: 3% 10% 2% 10%;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    margin: 0% 8%;
    font-size: 20px;
}
.row4 .col1 table{
    font-size: 25px;
}

/*FOOTER*/
footer{
    color: #1f1f1f;
    width: 100%;
    height: 40px;
    background-color: #ffffffff;
    background-size: cover;
    position: fixed;
    bottom: 0px;
}
footer p{
    font-size: 14px;
    margin: 0% 11%;
    padding: 10px 0px 10px 0px;
    align-content: center;
}